@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/main-ver1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .box {
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #root .text {
    width: 100vw;
    height: 100vh;
    color: white;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #root .btn {
    width: 10vw;
    height: 30vh;
    font-size: 25px;
    border: 0;
    border-radius: 15px;
    color: rgb(110, 106, 106);
    cursor: pointer;
    box-shadow: 0 5px rgb(158, 158, 158);
  }
  #root .btn:hover {
    background-color: rgb(255, 255, 255);
  }
  #root .btn:active {
    transition: 0.2s;
    box-shadow: 0 5px rgb(29, 22, 22);
    transform: translateY(2px);
  }
}
@media all and (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/main-ver1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .box {
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #root .text {
    width: 100vw;
    height: 100vh;
    color: white;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #root .text > h1 {
    font-size: 4vw;
  }
  #root .btn {
    border: 0;
    width: 30vw;
    height: 10vh;
    font-size: 25px;
    border-radius: 15px;
    color: rgb(110, 106, 106);
    box-shadow: 0 5px rgb(158, 158, 158);
  }
  #root .btn:hover {
    background-color: rgb(255, 255, 255);
  }
  #root .btn:active {
    transition: 0.2s;
    box-shadow: 0 5px rgb(29, 22, 22);
    transform: translateY(2px);
  }
}