* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@mixin mobile {
  @media all and (max-width:800px) {
    @content;
  }
}

@mixin pc {

  /* PC (해상도 1024px)*/
  @media all and (min-width:1024px) {
    @content;
  }
}

@include pc {
  #con {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

  }

  /* --------------------------------------------------------- */

  /*  사이드 바  */

  #con>div:nth-child(1) {

    width: 10vw;
    height: 100vh;
    background-color: rgb(49, 49, 49);

    position: fixed;
    margin-left: -160px;
    transition: 0.5s;

  }

  #con>div:nth-child(1):hover {
    margin-left: 0px;
  }

  #con>div:nth-child(1):hover:before {
    transition: 0.5s;
    position: absolute;

  }

  #con>div:nth-child(1)>ul>li {

    color: white;
    list-style: none;
    line-height: 5vw;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }

  #con>div:nth-child(1)>ul>li:hover {
    color: rgb(179, 179, 179);
    cursor: pointer;
    transition: 0.5s;
  }





  /* ---------------------------------------------------- */


  /* 가운데 메뉴 위 */

  #con>div>div:nth-child(1) {
    width: 100vw;
    height: 100vh;

  }


  /*  가운데 반 나눈거 */

  #con>div>div:nth-child(1)>div {

    width: 100vw;
    background-color: rgb(37, 37, 37);


    font-weight: 600;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;

  }

  /* 서치바  */


  #con>div>div:nth-child(1)>div:nth-child(1)>input {

    width: 30vw;
    height: 4vh;
    background-color: rgb(238, 238, 238);

    margin-left: 8.5vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

  }

  .search {

    width: 50px;
    height: 50px;
  }

  /* 가운데 메뉴 위 레이아웃 (8) */

  #con>div>div:nth-child(1)>div:nth-child(2) {

    display: flex;
    justify-content: center;
    align-items: center;
  }


  #con>div>div:nth-child(1)>div:nth-child(2)>div {

    width: 20vw;
    height: 25vh;
    background-color: rgb(229, 231, 233);
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    /* 강사 comment */
    /* border-radius:50px; */


  }



  /*  가운데 메뉴 밑 */

  #con>div>div:nth-child(1)>div:nth-child(3) {

    width: 100vw;
    height: 80vh;

    font-weight: 600;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;

  }

  /* 가운데 메뉴 밑 레이아웃 (10) */

  #con>div>div:nth-child(1)>div:nth-child(3)>div {

    width: 15vw;
    height: 20vh;
    background-color: rgb(231, 229, 229);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

  }

  input {

    font-size: 25px;
    border-radius: 15px;
    border: solid rgb(88, 88, 88);
    padding-left: 20px;
    outline: rgb(255, 254, 254);
    margin: 15px;
  }

  #con>div>div:nth-child(1)>div:nth-child(2)>div:hover {
    background-color: #ccc;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
    transform: translate(3px, 3px);
    cursor: pointer;
    transition: 0.5s;
  }

  #con>div>div:nth-child(1)>div:nth-child(3)>div:hover {
    background-color: #ccc;
    color: rgb(236, 236, 236);
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
    transform: translate(3px, 3px);
    cursor: pointer;
    transition: 0.5s;
  }

  .lay>section:nth-child(3)>div:hover {

    cursor: pointer;
    transition: 0.5s;
    transform: translate(3px, 3px);
  }
}


//----------------------------------------------------

@include mobile {
  #con {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

  }

  /* --------------------------------------------------------- */

  /*  사이드 바  */

  #con>div:nth-child(1) {

    width: 45vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    position: fixed;
    z-index: 999;
    margin-left: -41vw;
    transition: 0.5s;

  }

  #con>div:nth-child(1):hover {
    margin-left: 0px;
  }

  #con>div:nth-child(1):hover:before {
    transition: 0.5s;
    position: absolute;

  }

  #con>div:nth-child(1)>ul>li {

    color: white;
    line-height: 5vw;
    text-align: center;
    font-weight: bolder;
    margin: 5vh;
    font-size: 20px;
    list-style: none;
  }

  #con>div:nth-child(1)>ul>li:hover {
    color: rgb(179, 179, 179);
    transition: 0.5s;
  }

  /* ---------------------------------------------------- */


  /* 가운데 메뉴 위 */

  #con>div>div:nth-child(1) {
    width: 100vw;
    height: 100vh;

  }


  /*  가운데 반 나눈거 */

  #con>div>div:nth-child(1)>div {

    width: 100vw;
    background-color: rgb(37, 37, 37);
    font-weight: 600;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

  }

  /* 서치바  */


  #con>div>div:nth-child(1)>div:nth-child(1)>input {

    width: 50vw;
    height: 4vh;
    background-color: rgb(238, 238, 238);
    margin-left: 25vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

  }

  .search {

    width: 50px;
    height: 50px;

  }

  /* 가운데 메뉴 위 레이아웃 (8) */

  #con>div>div:nth-child(1)>div:nth-child(2) {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }


  #con>div>div:nth-child(1)>div:nth-child(2)>div {

    width: 30vw;
    height: 15vh;
    font-size: 3vw;
    background-color: rgb(229, 231, 233);
    margin: 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

  }

  /*  가운데 메뉴 밑 */

  #con>div>div:nth-child(1)>div:nth-child(3) {

    width: 100vw;
    height: 100vh;
    font-weight: bold;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  /* 가운데 메뉴 밑 레이아웃 (10) */

  #con>div>div:nth-child(1)>div:nth-child(3)>div {

    width: 30vw;
    height: 15vh;
    font-size: 3vw;
    background-color: rgb(229, 231, 233);
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

  }

  input {

    font-size: 25px;
    border-radius: 15px;
    border: solid rgb(88, 88, 88);
    padding-left: 20px;
    outline: rgb(255, 254, 254);
    margin: 15px;
  }

  #con>div>div:nth-child(1)>div:nth-child(2)>div:hover {
    background-color: #ccc;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
    transform: translate(3px, 3px);
    cursor: pointer;
    transition: 0.5s;
  }

  #con>div>div:nth-child(1)>div:nth-child(3)>div:hover {
    background-color: #ccc;
    color: rgb(236, 236, 236);
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
    transform: translate(3px, 3px);
    cursor: pointer;
    transition: 0.5s;
  }

  .lay>section:nth-child(3)>div:hover {

    cursor: pointer;
    transition: 0.5s;
    transform: translate(3px, 3px);
  }
}