* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  @include border;
  @include flex(flex, center, center);

  //------------------------------------------------------------
  .sidebar {
    width: 100vw;
    height: 100vh;
  }

  .sidebar>div:nth-child(1) {
    width: 10vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    position: fixed;
    z-index: 999;
    margin-left: -185px;
    transition: 0.5s;
  }

  .sidebar>div:nth-child(1):hover {
    margin-left: 0px;
  }

  .sidebar>div:nth-child(1):hover:before {
    transition: 0.5s;
    position: absolute;
  }

  .sidebar>div:nth-child(1)>ul>li {
    color: white;
    line-height: 5vw;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }

  .sidebar>div:nth-child(1)>ul>li:hover {
    color: rgb(179, 179, 179);
    cursor: pointer;
    transition: 0.5s;
  }

  //----------------------------------------------------------------
  #box {

    width: 100vw;
    height: 100vh;
    flex-direction: column;
    @include border;
    @include flex(flex, center, center);
  }

  #header-1 {

    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 146, 146);
    @include border;
    @include flex(flex, center, center);
  }

  #header-1>div {

    width: 100vw;
    height: 100vh;
    background-color: bisque;
    cursor: pointer;
    @include border;
  }

  #main-1 {

    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;

    @include border;
    @include flex(flex, center, center);

  }

  #main-1>div {
    
    margin: 20px;
    @include border;
    @include flex(flex, center, center);
  }

  #main-1>.lay {

    width: 13vw;
    height: 18vh;
    background-size: cover;
    cursor: pointer;
  }

  #footer-1 {

    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    @include border;
    @include flex(flex, center, center);

  }

  #footer-1>div {
    margin: 20px;
    @include border;
    @include flex(flex, center, center);

  }

  #footer-1>.lay {

    width: 13vw;
    height: 18vh;
    cursor: pointer;
  }

  .modal {
    width: 40vw;
    height: 80vh;
    position: absolute;
    position: fixed;
    top: 35%;
    left: 45%;
    margin: -250px 0 0 -250px;
    background-color: rgb(110, 93, 93);
    @include flex(flex, center, center);

  }

  .close {
    width: 3vw;
    height: 5vh;
    margin-left: 37vw;
    background-color: white;
    cursor: pointer;
    @include flex(flex, center, center);
    @include border;
  }

  [data-modal="modalset-1"] {
    background: url(https://hayabusa.io/adcross/adx/abm/15b026e7-7c50-4a22-8c85-227b12271da7.png?background=000000&fit=fill&format=webp&height=216&quality=60&width=384);
  }

  [data-modal="modalset-2"] {
    background: url(https://hayabusa.io/adcross/adx/abm/06c65478-ae53-4491-9412-5ebd6f4d3948.png?background=000000&fit=fill&format=webp&height=216&quality=60&width=384);
  }

  [data-modal="modalset-3"] {
    background: url(https://hayabusa.io/adcross/adx/abm/de7fd5c5-ff39-4383-b1dc-911e45e021fb.png?background=000000&fit=fill&format=webp&height=216&quality=60&width=384);
  }

  [data-modal="modalset-4"] {
    background: url(https://hayabusa.io/abema/series/87-1191/thumb.v1647493204.png?background=000000&fit=fill&format=webp&height=216&quality=60&version=0&width=384);
  }  
  
  [data-modal="modalset-5"] {
    background: url(https://hayabusa.io/abema/series/87-954/thumb.v1647596235.png?background=000000&fit=fill&format=webp&height=216&quality=60&version=0&width=384);
  }

  [data-modal="modalset-6"] {
    background: url(https://abm.hayabusa.media/series/162-7zft5piyb4e/thumb.png%3Fversion%3D1636093350?background=000000&fit=fill&format=webp&height=216&mode=fast&quality=60&width=384);

  }  
  
  [data-modal="modalset-7"] {
    background: url(https://hayabusa.io/abema/series/87-1173/thumb.v1648090504.png?background=000000&fit=fill&format=webp&height=216&quality=60&version=0&width=384);
  }

  [data-modal="modalset-8"] {
    background: url(https://abm.hayabusa.media/series/568-4/thumb.png%3Fversion%3D1627288143?background=000000&fit=fill&format=webp&height=216&mode=fast&quality=60&width=384);

  }  
  
  [data-modal="modalset-9"] {
    background: url(https://hayabusa.io/abema/series/87-1140/thumb.v1647494703.png?background=000000&fit=fill&format=webp&height=216&quality=60&version=0&width=384);
  }

  [data-modal="modalset-10"] {
    background: url(https://abm.hayabusa.media/series/90-1318/thumb.png%3Fversion%3D1628171406?background=000000&fit=fill&format=webp&height=216&mode=fast&quality=60&width=384);

  }  
  
  [data-modal="modalset-11"] {
    background: url(https://abm.hayabusa.media/series/90-793/thumb.png%3Fversion%3D1627287915?background=000000&fit=fill&format=webp&height=216&mode=fast&quality=60&width=384);
  }

  [data-modal="modalset-12"] {
    background: url(https://abm.hayabusa.media/series/90-1608/thumb.png%3Fversion%3D1638525523?background=000000&fit=fill&format=webp&height=216&mode=fast&quality=60&width=384);
  }

}