* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 150vw;
  height: 100vh;
  flex-direction: column;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .side {
  width: 5vw;
  height: 100vh;
  background-color: salmon;
  position: fixed;
  z-index: 4;
}
#root .sidecon {
  width: 5vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root .ham {
  margin: 10vh;
  margin-top: 6vh;
}
#root .home {
  margin: 3vh;
}
#root .list {
  margin: 3vh;
}
#root .contents {
  margin: 3vh;
}
#root .setting {
  margin: 3vh;
}
#root .box1 {
  width: 150vw;
  height: 150vh;
  background-color: burlywood;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .box2 {
  width: 150vw;
  height: 100vh;
  background-color: rgb(37, 122, 219);
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .lay-con {
  width: 255vw;
  height: 70vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .lay-con-1 {
  width: 255vw;
  height: 70vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .title-1 {
  width: 17vw;
  height: 5vh;
  font-size: 1.5vw;
  font-weight: 600;
  flex-direction: column;
  margin-top: -60vh;
  margin-left: -190vw;
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .title-2 {
  width: 15vw;
  height: 5vh;
  font-size: 1.5vw;
  font-weight: 600;
  flex-direction: column;
  margin-top: -60vh;
  margin-left: -190vw;
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}