@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .side {
    width: 5vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    overflow: hidden;
  }
  #root .sidecon {
    width: 5vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #141414;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .ham {
    margin: 8vh;
    margin-left: 4vw;
    color: #484848;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .home {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .hometext {
    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .hometext:hover {
    color: #414141;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #root .list {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .listtext {
    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .listtext:hover {
    color: #414141;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #root .contents {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .contentstext {
    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .contentstext:hover {
    color: #414141;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #root .setting {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .settingtext {
    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .settingtext:hover {
    color: #4b4b4b;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #root .box1 {
    width: 227vw;
    height: 65vh;
    background: url(../VER-2-pic/main.png);
    background-size: contain;
    background-position: 4.9vw top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .box2 {
    width: 227vw;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .box3 {
    width: 215vw;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .box4 {
    width: 215vw;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .lay-con {
    width: 227vw;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .lay-con-1 {
    width: 227vw;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .lay-con-2 {
    width: 227vw;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .title {
    width: 16vw;
    height: 5vh;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -41vh;
    margin-left: -198vw;
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .title-1 {
    width: 16vw;
    height: 5vh;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -45vh;
    margin-left: -198vw;
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .title-2 {
    width: 16vw;
    height: 5vh;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -45vh;
    margin-left: -198vw;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .fa-chevron-left {
    width: 2vw;
    height: 20vh;
    color: #fff;
    z-index: 1;
    margin: 5vw;
    margin-right: -3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .fa-chevron-left:hover {
    background-color: rgba(100, 100, 100, 0.4);
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
  }
  #root .fa-chevron-right {
    width: 2vw;
    height: 20vh;
    color: #fff;
    position: absolute;
    z-index: 999;
    margin: 5vw;
    margin-left: -30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .fa-chevron-right:hover {
    background-color: rgba(100, 100, 100, 0.4);
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
  }
  #root .lay {
    cursor: pointer;
  }
  #root .lay:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
