* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  @include border();
  @include flex(flex, flex-start, flex-start);

  .side {

    width: 5vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    overflow: hidden;


  }

  .sidecon {

    width: 5vw;
    height: 100vh;
    flex-direction: column;
    background-color: #141414;
    position: absolute;

    @include flex(flex, flex-start, center);
  }

  .ham {

    margin: 8vh;
    margin-left: 4vw;
    color: #484848;
    cursor: pointer;
    @include flex(flex, center, center);

  }

  .home {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;

    @include flex(flex, center, center);

  }

  .hometext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;

    @include flex(flex, center, center);

  }

  .list {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;

    @include flex(flex, center, center);

  }

  .listtext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;

    @include flex(flex, center, center);

  }

  .contents {

    margin: 2vh;
    margin-left: -4vw;
    color: #484848;

    @include flex(flex, center, center);
  }

  .contentstext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;

    @include flex(flex, center, center);

  }

  .setting {

    margin: 2vh;
    margin-left: -4vw;
    color: #484848;

    @include flex(flex, center, center);
  }

  .settingtext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;

    @include flex(flex, center, center);

  }

  .box1 {

    width: 167vw;
    height: 100vh;
    background-color: #000;
    @include flex(flex, flex-start, flex-start);

  }

  .box2 {

    width: 90vw;
    height: 90vh;
    position: absolute;
    margin-right: -4vw;
    background-color: #181817;
    border-radius: 30px;
    @include flex(flex, center, center);

  }

  //--------------------------------------------------

  .lay-con {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    @include border();
    @include flex(flex, center, center);

  }

  //--------------------------------------------------

  .title-1 {

    width: 19vw;
    height: 5vh;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    flex-direction: column;
    margin-top: -95vh;
    margin-left: -65vw;
    position: absolute;
    @include flex(flex, flex-start, flex-start);

  }

  .title-2 {

    width: 19vw;
    height: 5vh;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    flex-direction: column;
    margin-top: -80vh;
    margin-left: -65vw;
    position: absolute;
    @include flex(flex, flex-start, flex-start);

  }

  .list-box {

    width: 38vw;
    height: 85vh;
    border-radius: 20px;
    flex-direction: column;
    background-color: #494949;
    @include flex(flex, center, center);

  }

  .list-pic {

    width: 35vw;
    height: 35vh;
    margin: 5vh;
    margin-top: -18vh;
    border-radius: 15px;
    background: url(../VER-2-pic/list.png);
    background-size: contain;
    background-position: center center;
    background-attachment: initial;
    background-repeat: no-repeat;
    @include flex(flex, flex-start, flex-start);


  }

  .list-box-1 {

    width: 31vw;
    height: 5vh;
    background-color: #757575;
    border-radius: 5px;
  }

  .list-box-2 {

    width: 20vw;
    height: 5vh;
    background-color: #757575;
    margin: 2vh;
    margin-left: -10vw;
    border-radius: 5px;

  }

  .list-box-3 {

    width: 13vw;
    height: 13vh;
    background-color: #272727;
    margin: 5vw;
    margin-right: -15vw;
    margin-bottom: -15vh;
    border-radius: 15px;
    @include flex(flex, center, center);

  }

  .textbox {

    width: 20vw;
    height: 10vh;
    background-color: #675E5E;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 400;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    margin-top: -30vh;
    margin-left: -10vw;
    z-index: 1;
    @include flex(flex, center, center);

  }

  .tribox {

    width: 5vw;
    height: 5vh;
    background-color: #675E5E;
    border-radius: 5px;
    position: absolute;
    margin-top: -25vh;
    margin-left: -10vw;
    transform: rotate(45deg);
  }

  .fa-plus {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 10px;
    color: #fff;
    border: 10px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#272727, #272727), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    @include flex(flex, center, center);

  }

  .fa-heart {

    width: 2vw;
    height: 3.5vh;
    color: #fff;
    margin: 1vw;
    @include flex(flex, center, center);

  }

  .fa-arrow-up-from-bracket {

    width: 2vw;
    height: 3.5vh;
    color: #fff;
    margin: 1vw;
    @include flex(flex, center, center);

  }

}