* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 150vw;
  height: 100vh;
  flex-direction: column;
  @include border();
  @include flex(flex, flex-start, flex-start);


  .side {

    width: 5vw;
    height: 100vh;
    background-color: salmon;
    position: fixed;
    z-index: 4;

  }

  .sidecon {

    width: 5vw;
    height: 100vh;
    flex-direction: column;
    @include flex(flex, flex-start, center);
  }

  .ham  {
    margin: 10vh;
    margin-top: 6vh;
  }
  .home {

    margin: 3vh;
  }

  .list {
    margin: 3vh;
  }
  .contents {

    margin: 3vh;
  }

  .setting {

    margin: 3vh;
  }

  //--------------------------------------------------

  .box1 {

    width: 150vw;
    height: 150vh;
    background-color: burlywood;
    @include border();
    @include flex(flex, flex-start, flex-start);

  }

  .box2 {

    width: 150vw;
    height: 100vh;
    background-color: rgb(37, 122, 219);
    @include border();
    @include flex(flex, flex-start, flex-start);

  }

  //--------------------------------------------------

  .lay-con {
    width: 255vw;
    height: 100vh;
    @include border();
    @include flex(flex, center, center);

  }


  //--------------------------------------------------

  .title-1 {

    width: 19vw;
    height: 5vh;
    font-size: 1.5vw;
    font-weight: 600;
    flex-direction: column;
    margin-top: -60vh;
    margin-left: -190vw;
    position: absolute;
    @include border();
    @include flex(flex, flex-start, flex-start);

  }
}