* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .atv {
  width: 11.5vw;
  height: 14vh;
  font-size: 50px;
  font-weight: 400;
  font-family: "Kumar One", cursive;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .login {
  width: 15vw;
  height: 13vh;
  font-size: 24px;
  font-weight: 400;
  margin: 5vh;
  border: 1px solid black;
}
#root .logtext {
  width: 269px;
  height: 24px;
  padding-left: 0.5vw;
}
#root .password {
  width: 15vw;
  height: 13vh;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid black;
}
#root .passtext {
  width: 269px;
  height: 24px;
  padding-left: 0.5vw;
}
#root .start {
  width: 128px;
  height: 29px;
  border-radius: 5px;
  margin: 5vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}