* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: url(../VER-2-pic/Group\ 100.png);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .atv {
  width: 11.5vw;
  height: 14vh;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  font-family: "Kumar One", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .login {
  width: 15vw;
  height: 13vh;
  color: #fff;
  font-size: 24px;
  flex-direction: column;
  font-weight: 400;
}
#root .logtext {
  width: 15vw;
  height: 3vh;
  font-size: 1vw;
  padding-left: 0.5vw;
  border-radius: 5px;
}
#root .password {
  width: 15vw;
  height: 13vh;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  flex-direction: column;
}
#root .passtext {
  width: 15vw;
  height: 3vh;
  font-size: 1vw;
  padding-left: 0.5vw;
  border-radius: 5px;
}
#root .start {
  width: 8vw;
  height: 4vh;
  border-radius: 5px;
  margin: 5vh;
  font-size: 1vw;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .forgot {
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.5);
}