* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

body::-webkit-scrollbar {

  width: 0; 
  display : none;
}

#root {

  width: 100vw;
  height: 100vh;
  flex-direction: column;
  @include border();
  @include flex(flex, flex-start, flex-start);



  .side {

    width: 5vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    overflow: hidden;


  }

  .sidecon {

    width: 5vw;
    height: 100vh;
    flex-direction: column;
    background-color: #141414;
    position: absolute;

    @include flex(flex, flex-start, center);
  }

  .ham {

    margin: 8vh;
    margin-left: 4vw;
    color: #484848;
    cursor: pointer;
    @include flex(flex, center, center);

  }

  .home {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;

    @include flex(flex, center, center);

  }

  .hometext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;

    @include flex(flex, center, center);

  }

  .hometext:hover {

    color: rgb(65, 65, 65);
    transition: 1s;
  }

  .list {
    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    @include flex(flex, center, center);

  }

  .listtext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    @include flex(flex, center, center);

  }

  .listtext:hover {

    color: rgb(65, 65, 65);
    transition: 1s;
  }

  .contents {

    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    @include flex(flex, center, center);
  }

  .contentstext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    @include flex(flex, center, center);

  }

  .contentstext:hover {

    color: rgb(65, 65, 65);
    transition: 1s;
  }

  .setting {

    margin: 2vh;
    margin-left: -4vw;
    color: #484848;
    @include flex(flex, center, center);
  }

  .settingtext {

    width: 15vw;
    height: 10vh;
    margin-right: -20vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    @include flex(flex, center, center);

  }

  .settingtext:hover {

    color: rgb(75, 75, 75);
    transition: 1s;
  }
  //--------------------------------------------------

  .box1 {

    width: 100vw;
    height: 100vh;
    @include border();
    @include flex(flex, center, center);

  }

  .con {

    width: 100vw;
    height: 100vh;
    background-color: #070707;

    @include border();
    @include flex(flex, center, center);

  }

  .con-1 {

    width: 20vw;
    height: 24vw;
    flex-direction: column;
    background-color: #232323;
    margin: 1vw;
    border-radius: 5px;
    margin-top: -47vh;
    cursor: pointer;
    @include flex(flex, flex-start, flex-start);


  }

  .con-2 {

    width: 20vw;
    height: 24vw;
    flex-direction: column;
    background-color: #232323;
    margin: 1vw;
    border-radius: 5px;
    margin-top: -47vh;
    cursor: pointer;
    @include flex(flex, flex-start, flex-start);

  }

  .con-3 {

    width: 20vw;
    height: 24vw;
    flex-direction: column;
    background-color: #232323;
    margin: 1vw;
    border-radius: 5px;
    margin-top: -47vh;
    cursor: pointer;
    @include flex(flex, flex-start, flex-start);

  }
  
  .text {

    margin: 1vh;
    color: #fff;

  }

  .text-1 {

    font-size: 1vw;
    margin: 1vh;
    color: #fff;

  }

  .btn {

    width: 20vw;
    height: 24vh;
    color: #fff;

    @include flex(flex, center, center);

  }

  .btn>div {

    width: 10vw;
    height: 10vh;
    margin: 0.1vw;
    background-color: #434343;
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    @include flex(flex, center, center);

  }

  .smalltext { 

    font-size: 15px;
    color: #777;
  }

  .sale {

    width: 3vw;
    height: 5.8vh;
    position: absolute;
    font-size: 0.8vw;
    font-weight: 600;
    color: #fff;
    background-color: #F43D3D;
    border-radius: 50%;
    z-index: 999;
    margin-left:-27.5vw;
    margin-top: -90vh;
    @include flex(flex, center, center);

  }

  .dis {

    width: 2vw;
    height: 2.5vh;
    background-color: #B93F3F;
    position: absolute;
    margin-top: -7.5vh;
    margin-left: -7.8vw;
    border-radius: 3px;
    font-size: 0.7vw;
    @include flex(flex, center, center);
  }

  .set{

    width: 80vw;
    height: 47vh;
    position: absolute;
    margin-bottom: -50vh;
    background: url(../VER-2-pic/set.png);
    background-size: contain;
    background-position: center center;
    background-attachment: initial;
    background-repeat: no-repeat;

  }
}