* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .side {
  width: 5vw;
  height: 100vh;
  background-color: salmon;
  position: fixed;
  z-index: 4;
}
#root .sidecon {
  width: 5vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root .ham {
  margin: 10vh;
  margin-top: 6vh;
}
#root .home {
  margin: 3vh;
}
#root .list {
  margin: 3vh;
}
#root .contents {
  margin: 3vh;
}
#root .setting {
  margin: 3vh;
}
#root .box1 {
  width: 100vw;
  height: 100vh;
  background-color: burlywood;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .con {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .con-1 {
  width: 20vw;
  height: 24vw;
  flex-direction: column;
  margin: 1vw;
  margin-top: -50vh;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .con-2 {
  width: 20vw;
  height: 24vw;
  flex-direction: column;
  margin: 1vw;
  margin-top: -50vh;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .con-3 {
  width: 20vw;
  height: 24vw;
  flex-direction: column;
  margin: 1vw;
  margin-top: -50vh;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root .text {
  margin: 1vh;
}
#root .text-1 {
  font-size: 1vw;
  margin: 1vh;
}
#root .btn {
  width: 20vw;
  height: 24vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .btn > div {
  width: 10vw;
  height: 10vh;
  margin: 1vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}