* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .side {
  width: 5vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  overflow: hidden;
}

#root .sidecon {
  width: 5vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #141414;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .ham {
  margin: 8vh;
  margin-left: 4vw;
  color: #484848;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .home {
  margin: 2vh;
  margin-left: -4vw;
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .hometext {
  width: 15vw;
  height: 10vh;
  margin-right: -20vw;
  font-size: 1.3vw;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .list {
  margin: 2vh;
  margin-left: -4vw;
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .listtext {
  width: 15vw;
  height: 10vh;
  margin-right: -20vw;
  font-size: 1.3vw;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .contents {
  margin: 2vh;
  margin-left: -4vw;
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .contentstext {
  width: 15vw;
  height: 10vh;
  margin-right: -20vw;
  font-size: 1.3vw;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .setting {
  margin: 2vh;
  margin-left: -4vw;
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .settingtext {
  width: 15vw;
  height: 10vh;
  margin-right: -20vw;
  font-size: 1.3vw;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .box1 {
  width: 100vw;
  height: 100vh;
  background-color: #070707;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .con {
  width: 40vw;
  height: 98vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #232323;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .con-1 {
  width: 35vw;
  height: 20vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .email {
  font-size: 1.7vw;
  margin: 2vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .etext {
  width: 269px;
  height: 24px;
  margin: 1vw;
  border-radius: 5px;
  padding-left: 0.5vw;
  font-size: 1vw;
  background-color: #474747;
  border: 0;
  color: #fff;
}

#root .password {
  font-size: 1.7vw;
  margin: 2vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .ptext {
  width: 269px;
  height: 24px;
  margin: 1vw;
  border-radius: 5px;
  padding-left: 0.5vw;
  font-size: 1.3vw;
  background-color: #474747;
  border: 0;
  color: #fff;
  letter-spacing: 5px;
}

#root .con-2 {
  width: 35vw;
  height: 5vw;
  border-radius: 5px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .con-2 > button {
  width: 7vw;
  height: 5vh;
  margin: 1.5vw;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
  background-color: #393939;
  border: 0;
  -webkit-box-shadow: 0px 5px 5px #070707;
          box-shadow: 0px 5px 5px #070707;
}

#root .con-2 > button:hover {
  background-color: #666666;
}

#root .con-2 > button:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #020101;
          box-shadow: 0 5px #020101;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#root .con-3 {
  width: 35vw;
  height: 23vw;
  border-radius: 5px;
  border: 1px solid black;
}

#root .con-3 > button {
  width: 7vw;
  height: 5vh;
  margin: 1.5vw;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 10px;
  background-color: #393939;
  color: #fff;
  border: 0;
  -webkit-box-shadow: 0px 5px 5px #070707;
          box-shadow: 0px 5px 5px #070707;
}

#root .con-3 > button:hover {
  background-color: #666666;
}

#root .con-3 > button:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #020101;
          box-shadow: 0 5px #020101;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#root .ticket {
  margin: 3vh;
  font-size: 2vw;
  font-weight: 600;
  color: #fff;
}

#root .ticket-1 {
  width: 4vw;
  height: 4vh;
  margin: 3vh;
  font-size: 1.5vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

#root .ticket-2 {
  width: 4vw;
  height: 4vh;
  margin: 3vh;
  font-size: 1.5vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

#root .ticket-3 {
  width: 4vw;
  height: 4vh;
  margin: 3vh;
  font-size: 1.5vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

#root .pro {
  cursor: pointer;
}

#root .logout {
  cursor: pointer;
}

#root .pricebtn {
  cursor: pointer;
}
